+ {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: white;
}

body {

	width: 800px;
	margin: auto;
	text-align: center;
	background-color: #F0F3DC;
	border-radius: 7px;
}

h1 {

	padding: 40px;
}

p {

	margin: 40px;
}

p a { 

	margin: 20px;
	border: 1px solid black;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px grey;

 }


figure {

	width: 500px;
	margin: auto;
	margin-bottom: 30px;
}

img {

	width:500px;
	margin-top: 30px;
	
}